
<div class="p-5 text-center">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Heading</h1>
        <h4 class="mb-3">Subheading</h4>
        <%= link_to "My Diets", diets_path, class:"btn btn-outline-light btn-lg" %>
      </div>
    </div>
  </div>
</div>
