<div class="header d-flex">
  <div class="header-info">
    <div class="text"> 
      <h2 class="index text-center">Diet Tracker</h2>
      <p class="text-center">Helps you to calculate daily calorie needs and allow you to log what you eat throughout the day.</p>
    </div>
    <div class="header-btns d-flex justify-content-center">
      <%= link_to "My Diets", diets_path, class:"button-81 mx-2" %>
      <%= link_to "Create Diet", new_diet_path, class:"button-81" %>
    </div>
  </div>
  <div class="header-image">
    <%= image_tag("9268.png", :alt => "header img", class:"header-img") %>
  </div>
</div>